nav {
    background-color: #66ccff;
}

a, a:hover, a:active, a:focus {
    text-decoration: none !important;
    outline: 0;
}

nav a, nav a:hover {
    color: white;
}

.container {
    margin-top: 30px;
}

.row {
    margin: 10px auto;
}

.flex-container {
    display: flex;
    align-items: center;
}

h3 {
    color: #4c4c4c;
}

#timesheets-list ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.list-item {
    padding: 20px;
}

.list-item:hover {
    background-color: #e5e5e5;
    transition: background-color 0.5s;
}

.media-body {
    color: #4c4c4c;
}

.media-title {
    color: #666;
}