<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timesheets Filler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
      <a class="navbar-brand" href="http://localhost:5000/">Timesheets Filler</a>
    </nav>
    <div class="container">
        <div class="row flex-container">
            <div class="col-sm-6">
                <h3>Actividades</h3>
            </div>
            <div class="col-sm-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#timesheetModal">
                  Nueva Actividad
                </button>

                <!-- Modal -->
                <div class="modal fade" id="timesheetModal" tabindex="-1" role="dialog" aria-labelledby="timesheetModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="timesheetModalLabel">Nueva Actividad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form action="#">
                              <div class="form-group">
                                  <label for="activityName">Nombre</label>
                                  <input type="text" class="form-control" id="activityName">
                              </div>
                              <div class="form-group">
                                  <label for="activityProject">Proyecto</label>
                                  <select class="form-control" id="activityProject">
                                      <option value="0">colsubsidio</option>
                                      <option value="1">talentics</option>
                                      <option value="2">value scan</option>
                                      <option value="3">festivo</option>
                                      <option value="4">vacaciones</option>
                                  </select>
                              </div>
                          </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Crear</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5>Nombre del timesheet</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="timesheets-list">
                <form action="#">
                    <table class="table table-hover">
                        <tbody>
                            <tr class="table-row">
                                <td class="check-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td class="content-column">Actividad 1</td>
                            </tr>
                            <tr class="table-row">
                                <td class="check-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td class="content-column">Actividad 2</td>
                            </tr>
                            <tr class="table-row">
                                <td class="check-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td class="content-column">Actividad 3</td>
                            </tr>
                            <tr class="table-row">
                                <td class="check-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td class="content-column">Actividad 4</td>
                            </tr>
                            <tr class="table-row">
                                <td class="check-column">
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td class="content-column">Actividad 5</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-md btn-primary" data-toggle="modal" data-target="#hoursModal">Listo</button>
                    <div class="modal fade" id="hoursModal" tabindex="-1" role="dialog" aria-labelledby="hoursModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="hoursModalLabel">Número de horas trabajadas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <form action="#">
                                  <div class="form-group row">
                                      <label for="activity1" class="col-sm-10 col-form-label">Nombre</label>
                                      <div class="col-sm-2">
                                          <input type="text" class="form-control" id="activity1">
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Listo</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>